<html class="gr__rails-simple-airbnb_herokuapp_com"><style type="text/css" id="night-mode-pro-style"></style><link type="text/css" rel="stylesheet" id="night-mode-pro-link"><head>
    <title>RailsSimpleAirbnb</title>
    <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="+ysQOnkPKbPQ0egW40cOYQBM+q2fkj27YxVJCjyI6TrL6SJJiKOOEPhMS9yREkP7WyES8t/khCKHPElhPPgzeg==">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" media="all" href="/assets/application-6502403468dfbc20a08319e14cf02150d3c5cadebcd825473006e83ddf10c24e.css" data-turbolinks-track="reload">
    <script src="/assets/application-dcfb333542166c7e176ac13945f5c27350627b932d212a870a5a112daf6d4db9.js" data-turbolinks-track="reload"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css"></head>

  <body data-gr-c-s-loaded="true" cz-shortcut-listen="true">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/" rollapp-href="https://rails-simple-airbnb.herokuapp.com/">Simple Airbnb</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="ml-auto flex">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search" aria-label="Search" value="">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <a class="btn btn-outline-primary my-2 my-sm-0 ml-2" href="/flats/new" rollapp-href="https://rails-simple-airbnb.herokuapp.com/flats/new">Add Flat</a>
        </div>
      </div>
    </nav>

    <div class="container mt-3">


  <div class="row">
    <div class="col-12">
      <h1>All our Flats</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>You searched for <strong></strong>. We found 4 flats out of our 4 on our website.</p>
    </div>
  </div>



  <div class="row">
      <div class="col-4">
        <div class="flat-card">


          <div class="flat-card-image" style="background-image: url('https://images.unsplash.com/photo-1494526585095-c41746248156?w=1200')"></div>


          <div class="flat-card-content">

            <div class="flat-card-title">
              <h4>Light &amp; Spacious Garden Flat London</h4>
            </div>

            <p>10 Clifton Gardens London W9 1DT</p>
            <div class="flex">


              <div class="flex">
                <i class="material-icons mr-2">people</i><span>3</span>
              </div>


              <div class="flex ml-3">
                <i class="material-icons mr-2">euro_symbol</i> 75
              </div>


            </div> <!-- flex -->
          </div><!-- flat-card-content -->



          <div class="flat-card-actions">
            <a href="/flats/852" rollapp-href="https://rails-simple-airbnb.herokuapp.com/flats/852">More info</a>
            <a href="#" class="ml-3 text-warning" rollapp-href="https://rails-simple-airbnb.herokuapp.com/#">Edit</a>
            <a href="#" class="ml-3 text-danger" rollapp-href="https://rails-simple-airbnb.herokuapp.com/#">Remove</a>
          </div>


        </div> <!-- flat-card -->
      </div> <!-- col-4 -->




      <div class="col-4">
        <div class="flat-card">
          <div class="flat-card-image" style="background-image: url('https://images.unsplash.com/photo-1493809842364-78817add7ffb?w=1200')"></div>
          <div class="flat-card-content">
            <div class="flat-card-title">
              <h4>Stylish House Close to River Thames</h4>
            </div>
            <p>5 Queensmill Road London SW6 6JP</p>
            <div class="flex">
              <div class="flex">
                <i class="material-icons mr-2">people</i><span>2</span>
              </div>
              <div class="flex ml-3">
                <i class="material-icons mr-2">euro_symbol</i> 65
              </div>
            </div>
          </div>
          <div class="flat-card-actions">
            <a href="/flats/853" rollapp-href="https://rails-simple-airbnb.herokuapp.com/flats/853">More info</a>
            <a href="#" class="ml-3 text-warning" rollapp-href="https://rails-simple-airbnb.herokuapp.com/#">Edit</a>
            <a href="#" class="ml-3 text-danger" rollapp-href="https://rails-simple-airbnb.herokuapp.com/#">Remove</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="flat-card">
          <div class="flat-card-image" style="background-image: url('https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?w=1200')"></div>
          <div class="flat-card-content">
            <div class="flat-card-title">
              <h4>St Pancras Clock Tower Guest Suite</h4>
            </div>
            <p>Euston Rd London N1C 4QP</p>
            <div class="flex">
              <div class="flex">
                <i class="material-icons mr-2">people</i><span>2</span>
              </div>
              <div class="flex ml-3">
                <i class="material-icons mr-2">euro_symbol</i> 110
              </div>
            </div>
          </div>
          <div class="flat-card-actions">
            <a href="/flats/854" rollapp-href="https://rails-simple-airbnb.herokuapp.com/flats/854">More info</a>
            <a href="#" class="ml-3 text-warning" rollapp-href="https://rails-simple-airbnb.herokuapp.com/#">Edit</a>
            <a href="#" class="ml-3 text-danger" rollapp-href="https://rails-simple-airbnb.herokuapp.com/#">Remove</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="flat-card">
          <div class="flat-card-image" style="background-image: url('')"></div>
          <div class="flat-card-content">
            <div class="flat-card-title">
              <h4>Flat </h4>
            </div>
            <p></p>
            <div class="flex">
              <div class="flex">
                <i class="material-icons mr-2">people</i><span></span>
              </div>
              <div class="flex ml-3">
                <i class="material-icons mr-2">euro_symbol</i>
              </div>
            </div>
          </div>
          <div class="flat-card-actions">
            <a href="/flats/855" rollapp-href="https://rails-simple-airbnb.herokuapp.com/flats/855">More info</a>
            <a href="#" class="ml-3 text-warning" rollapp-href="https://rails-simple-airbnb.herokuapp.com/#">Edit</a>
            <a href="#" class="ml-3 text-danger" rollapp-href="https://rails-simple-airbnb.herokuapp.com/#">Remove</a>
          </div>
        </div>
      </div>
  </div>
</div>



</body><span class="gr__tooltip"><span class="gr__tooltip-content"></span><i class="gr__tooltip-logo"></i><span class="gr__triangle"></span></span></html>
